# System Commands
alias Update='sudo apt-get update'
alias Upgrade='sudo apt full-upgrade -y'
alias Install='sudo apt install '
alias List='sudo apt list --upgradable'
alias Remove='sudo apt purge'
alias Clean='sudo apt autoremove'
alias Delete='sudo rm -i'
alias Copy='sudo cp'
alias Move='sudo mv'
alias Ver='/usr/local/bin/Version.sh'
alias Dig='/usr/local/bin/Dig.sh'
alias Reboot='sudo reboot'
alias Off='sudo shutdown -h now'
alias Sudo='sudo -i'
alias top='htop'
alias F='neofetch'
alias C='cpufetch'
alias Disk='df -hT && echo " " && lsblk && echo " " && df -ht ext4'
alias AddA='/usr/local/bin/Add-Alias.sh'
alias Start='systemctl start '
alias Enable='sudo systemctl enable '
alias Disable='sudo systemctl disable '
alias Status='sudo systemctl status '
alias Stop='sudo systemctl stop '
alias Restart='sudo systemctl restart '
alias Find='sudo python3 /usr/local/bin/Find.py'
alias Compare='python3 /usr/local/bin/Compare.py'
alias Watcher='sudo python3 /usr/local/bin/Watch.py'
alias Permissions='sudo python3 /usr/local/bin/check_permissions.py'
alias Nmap='sudo python3 /usr/local/bin/Nmap/main.py'
alias Alias='cat /etc/.aliases_man'

# User Commands
alias Nano='sudo nano '
alias History='nano /home/david/.bash_history'
alias Ustart='systemctl --user start '
alias Uenable='systemctl --user enable '
alias Udisable='systemctl --user disable '
alias Ustatus='systemctl --user status '
alias Ustop='systemctl --user stop '
alias Urestart='systemctl --user restart '
alias Kill='sudo kill -9 '
alias Date='date "+%A %d %B %Y, %r"'
alias T='tmux'
alias Tlist='tmux list-sessions'
alias Tatt='tmux attach -t '
alias Tkill='tmux kill-session -t '
alias Trename='tmux rename-session -t '
alias Tcomm='cat /etc/.Tcomm'
alias la='ls -A'
alias ll='ls -alF'
alias l='ls -CF'
alias Startwire='start_pipewire.sh'
alias Stopwire='stop_pipewire.sh'

## Network & System Scripts
alias Net='/usr/local/bin/Net.sh'
alias Ping='ping -c 5'
alias Add-ip='/usr/local/bin/add_ip.sh'

## Custom Scripts


# New Alias
alias Sshcopy='/usr/local/bin/sshcopy.sh'
alias Nvidia='watch -n 0.6 nvidia-smi'
alias Ollama='ollama run deepseek-r1'
alias Dd='/usr/local/bin/Dd.sh'
